RewriteEngine on

RewriteCond %{HTTP_HOST} ^martindelille.com [NC]
RewriteRule ^(.*)$ http://www.martindelille.com/$1 [L,R=301]


RewriteRule ^en$ /en.html [L]
RewriteRule ^fr$ /fr.html

RewriteCond %{HTTP:Accept-Language} (fr) [NC]
RewriteRule ^$ /fr [L,R=301]

RewriteRule ^$ /en [L,R=301]


